/aveng.jpeg
/Canva.lnk
/CSS Notes.pdf
/CV_project_PT.pdf
/desktop.ini
/FINAL450.xlsx
/il_fullxfull.3097430219_ci2v.webp
/Microsoft Edge.lnk
/My java folder
/practice
/rawww.mp3
/REACT.jpeg
/REACT.png
/SIH 1 2K24.pptx
/stellar--bootcamp--workshop
/tabla chupke chupke raw.mp3
/Telegram.lnk
/Visual Studio Code.lnk